<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"
    integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="
    crossorigin="anonymous" />
  
</head>
{% comment %} <title>Weathr App </title> {% endcomment %}
<body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="../" class="navbar-brand">Weather App <span style="color: rgb(255, 165, 0);"> <strong> - Django
            Framework</strong>
        </span> </a>
      <a href="https://openweathermap.org" class="navbar-tech">OpenWeather - Get Your API</a>
    </div>
  </div>

  <br /><br /> <br>
  <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
    <h1 class="display-7">Weather App </h1>
    <h5>Using Python Language and Django Framework</h5>

    <img src="{% static 'images/weather.png' %}" class="image" style="width:100px; margin-bottom:-50px; ">
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <form method="post" class="col-md">
      {% csrf_token %}
      <div class=" input-group">

      <input type="text" class="form-control" name="city" placeholder="Choose Your City ...">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      </div>
      <form>
  </nav>
  <br> <br>
  <div class="column">
    {% if country_code and coordinate and temp and pressure and humidity %}
    <div class="col d-flex justify-content-center" ">
      <div class=" card text-pink bg-light mb-6", style="color: pink; background-color: lightgray; margin-bottom: 6px;">
      <div class=" card-body">
        <h4>Name :</span> {{name}}</h4>
        <h4>Country Code : {{country_code}}</h4>
        <h4>Coordinates : {{coordinate}}</h4>
        <h4>Temperature in Celsius : {{temp}}</h4>
        <h4>Pressure :</span> {{pressure}} </h4>
        <h4>Humidity : </span> {{humidity}}</h4>
        <h4>Forecast : </span> {{main}} <img
            src="http://openweathermap.org/img/w/{{icon}}.png" alt="Image" style="width:70px"></h4>
        <h4>Description : </span> {{description}}</h4>
      </div>
      {% endif %}
    </div>
</body>

</html>